$text: #dedede;
$text-secondary: #888;

$background: #242424;
$background-secondary: #1a1a1a;
$background-transparently: rgba(26, 26, 26, 0.8);

$accent: #646cff;
$accent-hover: #828cff;
$accent-active: #4e4fbf;
$error: #ff4d4d;
