@import '@styles/_colors.scss';

.control {
  position: relative;
  display: flex;
  padding-bottom: 18px;
  flex-direction: column;

  &__input {
    width: 100%;
    padding: 0.6rem 0 0.2rem;
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $accent;
    order: 20;
    background-color: $background-secondary;
    color: $text;
    transition: border-color 0.3s ease-in-out;

    &[required] {
      & + label::after {
        content: 'required';
      }
    }

    &::placeholder {
      color: $text-secondary;
    }

    @media (hover: hover) {
      &:hover {
        border-bottom-color: $accent-hover;
      }
    }

    &:focus {
      border-bottom-color: $accent-active;
    }

    &_with-error {
      border-bottom-color: $error !important;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0 0 0px 1000px $background-secondary inset !important;
    background-color: padding-box !important;

    -webkit-text-fill-color: $text !important;
    -webkit-box-shadow: 0 0 0px 1000px $background-secondary inset !important;
    -webkit-background-clip: padding-box !important;
  }

  &__label {
    display: flex;
    align-items: baseline;
    order: 10;
    column-gap: 4px;
    font-size: 0.7rem;
    color: $accent;

    span {
      color: $text;
    }
  }

  &__error {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.7rem;
    color: $error;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  &_with-error {
    .control__error {
      opacity: 1;
    }

    .control__input {
      border-color: $error;
    }
  }
}
